@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,300,400,500,600,700,800');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway;
  user-select: none;
}
canvas{
  width: 100vw;
  height: 100vh;

  z-index: 1;
}

.welcomeArea{
  position: absolute;
  z-index: 2;

  top: 20px;
  left: 20px;

  transition: all 0.5s;
}
.welcomeArea h1{
  color: white;
  font-size: 30px;
}
.welcomeArea h1 span{
  font-size: 50px;
  font-weight: 700;
}
.welcomeArea p{
  color: white;
  margin-top: 10px;
  font-size: 16px;
}
.welcomeArea p a{
  text-decoration: none;
  color: white;
  text-shadow: 0px 0px 5px #cbd4ff;
  text-decoration: underline;
}

.startButton,.returnButton{
  position: absolute;
  z-index: 2;
  left: 20px;
  bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #131A3D;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.5s;
}
.startButton:hover,.returnButton:hover{
  color: #4a5dbb;
}
.returnButton {
  transform: translateX(-150%);
}

.informationArea{
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 20px;
  transition: transform 0.5s;
  transform: translateX(-150%);
  color: white;
}
.informationArea p{
  margin-top: 10px; 
  max-width: 500px;
}
@keyframes informationAreaAnimation {
  0%{
    transform: translateX(-150%);
  }
  100%{
    transform: translateX(0%);
  }
}

.objectSelected{
  font-size: 40px;
  color: white;
  text-shadow: 0px 0px 10px white;
}